body {
    font-family: Arial, sans-serif;
    background-color:#c2d4dd;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#strength-indicator {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.weak {
    color: red;
}

.medium {
    color: orange;
}

.strong {
    color: green;
}
